@import '../../../less/import.less';

.prefooter__link{
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 17px;
    color: @dark-shade50;
    text-decoration: none;
}