mixin rating(stars, classModifier)
    .rating(class=classModifier)
        - var i = 0;
        while i < stars
            span.rating__star.rating__star_active
            - i++
        while i < 5
            span.rating__star
            - i++