mixin date-dropdown_filter(placeholder, id, position)
    if position
        +date-dropdown(placeholder, id, position,'date-dropdown_filter')
    else
        +date-dropdown(placeholder, id, '','date-dropdown_filter')
