@import '../../../less/import.less';

.search-room-main__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media (max-width: @lg){
    .search-room-main__content{
        justify-content: center;
    }
}