@import '../../../less/import.less';

.navbar__item{
    position: relative;
    font-family: inherit;
    font-size: inherit;
    color: @dark-shade50;
    &:not(:first-of-type){
        margin-left: 28px;
    }
}

@media(max-width: @lg){
    .navbar__item{
        display: block;
        margin-left: 0 !important;
        text-align: center;
        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }
}