@import '../../../less/import.less';

.navbar__item{
    position: relative;
    font-family: inherit;
    font-size: inherit;
    color: @dark-shade50;
    &:not(:first-of-type){
        margin-left: 30px;
    }
}

@media(max-width: @lg){
    .navbar__item{
        margin-left: 0 !important;
        margin-bottom: 20px;
        text-align: center;
    }
}