@import '../../less/import.less';

.simple-button{
    appearance: none!important;
    border: none; 
    outline: none;
    padding: 0;
    background: none;
    cursor: pointer; 

    color: @purple;
    line-height: 15px;

    text-decoration: none;
}