@import '../../../less/import.less';

.dropdown__button{
    position: absolute;
    appearance: none!important;
    border: none; 
    outline: none;
    padding: 0;
    background: none;
    cursor: pointer;

    .cta-text;

    text-decoration: none;
}