@import '../../../less/mixins.less';

.dropdown__button{
    position: absolute;
    right: 0;
    appearance: none!important;
    border: none; 
    outline: none;
    padding: 0;
    background: none;
    cursor: pointer;

    .cta-text;

    color: @purple;
    text-decoration: none;
}