@import '../../less/mixins.less';

.button{
    position: relative;
    padding: 14.5px 20px;
    border-radius: 22px;
    border: none; 
    outline: none;

    .cta-text;

    background: @primary-gradient;
    color: white;
}