@import '../../less/import.less';

.button{
    appearance: none!important;
    position: relative;
    padding: 14.5px 20px;
    border-radius: 22px;
    border: none; 
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;

    .cta-text;

    background: @primary-gradient;
    color: white;
}