@import '../../less/import.less';

.button{
    appearance: none!important;
    position: relative;
    display: inline-block;

    padding: 0 20px;
    line-height: 44px;
    text-align: center;
    height: 44px;
    border-radius: 22px;
    border: none; 
    outline: none;
    cursor: pointer;

    text-decoration: none;
    box-sizing: border-box;
    background: @primary-gradient;
 
    color: white;
}