@import '../../less/import.less';

.dropdown-icon{
    &::after{
        position: absolute;

        content:'expand_more';
        display: block;
        -webkit-user-select: none;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';

        color: inherit;
        text-align: center;

        .transition(transform);
    }

}