@import '../../../less/mixins.less';

.date-dropdown__arrow{
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 30px;

    &::before{
        .material-icons;
        line-height: 24px;
        text-align: center;

        color: @purple;
    }
}