@import '../../../less/import.less';

.checkbox-list__label{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

    height: 44px;
    cursor: pointer; 

    color: @dark-shade;
    line-height: 15px;

    padding-right: 44px;
}