@import '../../../less/mixins.less';

.checkbox-list__label{
    position: relative;
    display: flex;
    align-items: center;

    height: 44px;
    cursor: pointer;

    .cta-text;

    padding-right: 44px;
}