@import '../../../less/import.less';

.text-field.text-field_focus .text-field__input{
    border-color: @dark-shade;
    color: @dark-shade;

    &::-webkit-input-placeholder {
        color: @dark-shade;
    }
}