@import '../../../less/import.less';

.counter-dropdown__button{
    position: absolute;
    appearance: none!important;
    border: none; 
    outline: none;
    padding: 0;
    background: none;
    cursor: pointer; 

    color: @dark-shade;
    line-height: 15px;

    text-decoration: none;
}