@import '../../../less/import.less';

.counter-dropdown__field{
    appearance: none !important;
    position: relative;
    z-index: 1;
    display: block;

    padding: 8.5px 30px 9px 14px;
    min-width: 44px;
    height: 42px;
    overflow: hidden;
    cursor: pointer;

    color: @dark-shade75;
    line-height: 26px;
    
    white-space: nowrap;
    text-overflow: ellipsis;
}