@import '../../variables.less';

.basic-text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;

    color: @dark-shade75;
}

@import './_faded/basic-text_faded.less';