@import '../../../less/import.less';

.form-card__checkout-divider{
    display: block;
    justify-self: stretch;
    flex-grow: 1;
    height: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    border: 1px dashed @dark-shade25;
    box-sizing: border-box;
}