@import '../../../less/import.less';

.footer__copyright{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: @dark-shade75;
}

@media(max-width: @sm){
    .footer__copyright{
        margin-bottom: 20px;
        text-align: center;
    }
}