@import '../../../less/import.less';

.date-dropdown.date-dropdown_filter-double{
    position: relative;
    width: 100%;
    & > .date-dropdown__input{
        position: absolute;
        top: 20px;
        z-index: 100;
        color: transparent;
        border: none;
        &::-webkit-input-placeholder {
            color: transparent;
        }
    }
}

@media (max-width: @xs){
    .date-dropdown.date-dropdown_filter-double > .date-dropdown__input{
        height: 128px;
    }
}