@import '../../../less/import.less';

.search-room-main__aside{
    width: 23.05%;
}

@media (max-width: @xl){
    .search-room-main__aside{
        width: 100%;
        margin-right: 50px;
    }
}

@media (max-width: @lg){
    .search-room-main__aside{
        display: none;
    }
}