@import '../../../less/import.less';

.search-room-main__aside{
    width: 23.2%;
    margin-right: 60px;
}

@media (max-width: @xl){
    .search-room-main__aside{
        width: 100%;
    }
}

@media (max-width: @lg){
    .search-room-main__aside{
        display: none;
    }
}