@import '../../../less/import.less';

.landing-page-wrapper__label{
    display: block;
    max-width: 297px;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;

    align-self: flex-end;

    text-align: right;
}

@media(max-width: @lg){
    .landing-page-wrapper__label{
        align-self: center;
        text-align: center;
        margin-top: 30px;
    }
}

@media(max-width: @xs){
    .landing-page-wrapper__label{
        margin-top: 0;
    }
}