@import '../../../less/import.less';

.pie__counter{
    position: absolute;
    left: 0;
    top:0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 126px;
    height: 126px;

    color: @purple;
    text-align: center;
    line-height: 30px;
    .cta-text{
        color: @purple;
        line-height: 15px;
    }
}