@import '../../../less/mixins.less';

.counter__handler{
    appearance: none!important;
    position: relative;
    -webkit-user-select: none;
    cursor: pointer;
    width: 30px;
    height: 30px; 
    box-sizing: border-box;  
    outline:none;
    padding: 0;
    margin: 0;

    border: 1px solid @dark-shade50;
    border-radius: 50%;

    &::before{
        position: absolute;
        display: inline-block;
        top:-1px;
        left:-1px;
        width: 30px;
        height: 30px;

        .basic-text;

        font-size: 18px;
        color: @dark-shade50;
        line-height: 30px;
        text-align: center;

    }
}