@import '../../../less/mixins.less';

.dropdown__field{
    appearance: none !important;
    display: block;

    padding: 9px 44px 9px 15px;
    min-width: 44px;
    height: 44px;
    width: 100%;

    .basic-text;

    color: @dark-shade75;
}