@import '../../../less/mixins.less';

.dropdown__field{
    appearance: none !important;
    display: block;

    padding: 9px 44px 9px 15px;
    min-width: 44px;
    height: 44px;
    width: 200px;
    overflow: hidden;

    .basic-text;

    color: @dark-shade75;
    white-space: nowrap;
    text-overflow: ellipsis;
}