@import '../../../less/import.less';

.navbar-dropdown__toggler{
    position: relative;
    margin-right: 24px;
    &::after{
        content: 'expand_more';
        position: absolute;
        top:0;

        display: block;
        width: 24px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; 
        display: inline-block;
        line-height: 17px;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';

        color: inherit;
        text-align: center;
        transform-origin: center;
        .transition(transform);
    }
}


@media(max-width: @lg){
    .navbar-dropdown__toggler{
        margin-right: 24px;
    }
}