@import '../../less/import.less';

.landing-page-main{
    display: block;

    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: @xs){
    .landing-page-main{
        background: none !important;
    }
}