@import '../../less/mixins.less';

.checkbox{
    display: none;
    & + label{
        position: relative;
        margin-left: 29.7px;
        -webkit-user-select: none;
        cursor: pointer;
    }

    & + label::before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 9.7px;
        position: absolute;
        bottom: 0;
        left: -29.7px;

        border: 1px solid @dark-shade25;
        box-sizing: border-box;
        border-radius: 4px;
    }

    &:checked + label::before{
        border-color: @purple;
        background: url('../img/check.svg') no-repeat 50% 40%;
    }
}