@import '../../../less/import.less';

.room-details-main__impressions{
    max-width: 342px;
    width: 100%;
    margin-bottom: 30px;
    .item-title{
        margin-bottom: 17px;
    }
}

@media (max-width: @xl){
    .room-details-main__impressions{
        max-width: none;
        width: 50%;
        .item-title{
            text-align: left !important;
        }
    }
}

@media (max-width: @md){
    .room-details-main__impressions{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;

        margin-bottom: 50px;
        
        .item-title{
            text-align: center !important;
        }
    }
}
