@import '../../../../less/import.less';
@media(max-width: @lg){
    .navbar__items.navbar__items_collapsed{
        height: auto;
        max-height: 100vh;
        margin-top: 20px;
        transition-duration: .3s;
    }
 }