@import '../../less/import.less';

.faded-text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;  

    text-transform: uppercase;  

    color: @dark-shade50;
}