@import '../../../less/mixins.less';

.checkbox__input{
    display: inline-block;
    appearance: none !important;
    position: relative;
    margin-left: 26.7px;
    cursor: pointer;
    width: 0;
    height: 20px;
    outline: none;
    & +label{
        line-height: 20px;
    }

    &::before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: -26.7px;

        border: 1px solid @dark-shade25;
        box-sizing: border-box;
        border-radius: 4px;
    }

    &:checked::before{
        border-color: @purple;
        background: url('../img/check.svg') no-repeat 50% 40%;
    }
}