@import '../../../less/import.less';

.navbar__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: @lg){
    .navbar__content{
        flex-wrap: wrap;
    }
}