@import '../../../less/import.less';

.navbar__items{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 0;
   list-style: none;
}

@media(max-width: @lg){
    .navbar__items{
        display: none;
        width: 100%;
        margin-top: 15px;
        max-height: 100vh;
        overflow-y: auto;
    }
}