//Fields
include ../blocks/range-slider/range-slider.pug
include ../blocks/radio-button/radio-button.pug
include ../blocks/date-mask/date-mask.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/toggle/toggle.pug
include ../blocks/counter/counter.pug
include ../blocks/text-field/text-field.pug
include ../blocks/button/button.pug

//Dropdowns
include ../blocks/counter-dropdown/counter-dropdown.pug
include ../blocks/date-dropdown/date-dropdown.pug
include ../blocks/checkbox-list/checkbox-list.pug

//List
include ../blocks/bullet-list/bullet-list.pug

//Cards
include ../blocks/form-card/form-card.pug
include ../blocks/form-group/form-group.pug
include ../blocks/room-card/room-card.pug

//Text
include ../blocks/room-number/room-number.pug
include ../blocks/faded-text/faded-text.pug
include ../blocks/link/link.pug

//Header
include ../blocks/navbar/navbar.pug

//Footer
include ../blocks/prefooter/prefooter.pug
include ../blocks/footer/footer.pug

//Other
include ../blocks/testimonial/testimonial.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/social-icon/social-icon.pug
include ../blocks/logo/logo.pug
include ../blocks/rating/rating.pug
include ../blocks/text-with-icon/text-with-icon.pug
include ../blocks/like-button/like-button.pug
include ../blocks/pie/pie.pug