mixin room-number(number, type, classModifier)
    span.room-number.item-title(class=classModifier)
        span.room-number__smaller-text.cta-text.cta-text_light №&nbsp;
        = number
        |&nbsp;
        span.room-number__smaller-text.room-number__smaller-text_primary.cta-text= type
            