
.button__arrow{
    position: absolute;
    top:0;
    right: 0;

    height: 44px;
    width: 44px;

    color: white;
    
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }
    .material-icons{
        display: inline-block;
        vertical-align: middle;
    }
}