@import 'variables.less';

.transition(@prop: all, @time: 0.5s, @func: ease){
    transition: @arguments;
}

.widget-title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: @dark-shade;
}

.item-title{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: @dark-shade;
}

.cta-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;  

    text-transform: uppercase;  

    color: @dark-shade;
}

.basic-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: @dark-shade75;
}