@import 'variables.less';

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.transition(@rest...){
    transition-property: @rest;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.widget-title{
    font-family: Quicksand, 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: @dark-shade;
}

.item-title{
    font-family: Quicksand, 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

    color: @dark-shade;
}

.cta-text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;  

    text-transform: uppercase;  

    color: @dark-shade;
}

.basic-text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;

    color: @dark-shade75;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 100%;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.margin-generator(@iterator: 1, @length: 10, @step: 5) when (@iterator <= @length) {
    @postfix: @step * @iterator;
    @margin: @postfix * 1px;
    @next: @iterator + 1;
    
    .mr-@{postfix} {
      margin-right: @margin;
    }

    .ml-@{postfix} {
        margin-left: @margin;
    }
    
    .mt-@{postfix} {
        margin-top: @margin;
    }
    
    .mb-@{postfix} {
        margin-bottom: @margin;
    }

    .margin-generator(@next, @length, @step);
}

.margin-generator();

.gradient-color(@gradient){
    background-image: @gradient;
    color:transparent;
    background-clip: text;
}