/* colors */

@dark-shade: #1F2041;
@dark-shade75: fade(#1F2041, 75%);
@dark-shade50: fade(#1F2041, 50%);
@dark-shade25: fade(#1F2041, 25%);

@purple: #BC9CFF;

@green: #6FCF97;

/* gradients */

@primary-gradient: linear-gradient(180deg, @purple 0%, #8BA4F9 100%);

@secondary-gradient: linear-gradient(180deg, @green 0%, #66D2EA 100%);
