@import '../../../less/import.less';

.form-card__title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 30px;
    color: @dark-shade;
    
    margin: 0 0 20px 0;
}