@import '../../../less/import.less';

.form-card__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    line-height: 30px;
    color: @dark-shade;
    
    margin-bottom: 20px;
}