@import '../../../less/import.less';

.like-button.like-button_liked{
    border-color: @purple;

    &::before{
        content: 'favorite';

        color: @purple;

    }

    .like-button__counter{
        color: @purple;
    }

}