@import '../../../less/import.less';

.room-number__smaller-text{
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 15px;
    margin-right: 2px;
    color: @dark-shade;
}