@import '../../less/import.less';

.navbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999;

    background: #FFFFFF;
    padding: 15px 0;
    box-shadow: 0px 10px 20px fade(@dark-shade, 5%);
    .transition(height);

    .counter-dropdown{
        position: relative;
    }

    .with-counter-dropdown{
        padding-bottom: 0;
    }
}