mixin navbar
    .navbar
        .navbar__content.container
            +logo
            .navbar__controls
                button(data-target='#navbar__items', data-class-mod= 'navbar__items_collapsed', data-self-class-mod='burger_active').burger.toggle-class-button
                    span.burger__main
            ul.navbar__items.basic-text#navbar__items
                if block
                    block

mixin navbar_static
    .navbar.navbar_static
        .navbar__content.container
            +logo
            .navbar__controls
                button(data-target='#navbar__items', data-class-mod= 'navbar__items_collapsed', data-self-class-mod='burger_active').burger.toggle-class-button
                    span.burger__main
            ul.navbar__items.basic-text#navbar__items
                if block
                    block

mixin navbar_completed
    .navbar
        .navbar__content.container
            +logo
            .navbar__controls
                button(data-toggle-type='navbar-expand', data-target='#navbar__items', data-collapsed="false", data-self-modifier-class='burger_active', type='button').burger
                    span.burger__main
            ul.navbar__items.basic-text#navbar__items
                li.navbar__item.navbar__item_small-margin
                    a(href='#').navbar__link О нас
                li.navbar__item.navbar__item_small-margin.dropdown
                    a(data-content-modifier-class="navbar-dropdown__list_collapsed").navbar__link.navbar-dropdown__toggler.dropdown__toggler.dropdown__icon Услуги
                    ul.dropdown__content.navbar-dropdown__list
                        li
                            a(href="#").navbar__link first
                        li
                            a(href="#").navbar__link second
                        li
                            a(href="#").navbar__link third
                li.navbar__item.navbar__item_small-margin  
                    a(href='#').navbar__link Вакансии
                li.navbar__item.navbar__item_small-margin  
                    a(href='#').navbar__link Новости
                li.navbar__item.navbar__item_small-margin.dropdown
                    a(data-content-modifier-class="navbar-dropdown__list_collapsed").navbar__link.navbar-dropdown__toggler.dropdown__toggler.dropdown__icon Соглашения
                    ul.dropdown__content.navbar-dropdown__list
                        li
                            a(href="#").navbar__link first
                        li
                            a(href="#").navbar__link second
                        li
                            a(href="#").navbar__link third
                li.navbar__item.navbar__item_small-margin    
                    +button_link('войти', 'login.html', '', 'button_slim button_outline')
                li.navbar__item.navbar__item_small-margin
                    +button_link('зарегистрироваться', 'registration.html', '', 'button_slim')

mixin navbar_completed_for-search-room
    .navbar
        .navbar__content.container
            +logo
            .navbar__controls
                button(data-toggle-type='navbar-expand', data-target='#navbar__search', data-collapsed="false", data-self-modifier-class='navbar__icon_active', type='button').material-icons.navbar__icon search
                button(data-toggle-type='navbar-expand', data-target='#navbar__items', data-collapsed="false", data-self-modifier-class='burger_active', type='button').burger
                    span.burger__main
            ul.navbar__items.basic-text#navbar__items
                li.navbar__item.navbar__item_small-margin
                    a(href='#').navbar__link О нас
                li.navbar__item.navbar__item_small-margin.dropdown
                    a(data-content-modifier-class="navbar-dropdown__list_collapsed").navbar__link.navbar-dropdown__toggler.dropdown__toggler.dropdown__icon Услуги
                    ul.dropdown__content.navbar-dropdown__list
                        li
                            a(href="#").navbar__link first
                        li
                            a(href="#").navbar__link second
                        li
                            a(href="#").navbar__link third
                li.navbar__item.navbar__item_small-margin  
                    a(href='#').navbar__link Вакансии
                li.navbar__item.navbar__item_small-margin  
                    a(href='#').navbar__link Новости
                li.navbar__item.navbar__item_small-margin.dropdown
                    a(data-content-modifier-class="navbar-dropdown__list_collapsed").navbar__link.navbar-dropdown__toggler.dropdown__toggler.dropdown__icon Соглашения
                    ul.dropdown__content.navbar-dropdown__list
                        li
                            a(href="#").navbar__link first
                        li
                            a(href="#").navbar__link second
                        li
                            a(href="#").navbar__link third
                li.navbar__item.navbar__item_small-margin    
                    +button_link('войти', 'login.html', '', 'button_slim button_outline')
                li.navbar__item.navbar__item_small-margin
                    +button_link('зарегистрироваться', 'registration.html', '', 'button_slim')
            #navbar__search.navbar__search.navbar__items