include ../blocks/mixin/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title EXMPL_PAGE
    body
        - for(let i = 0; i < 3; i++)
            .wrapper
                include ../blocks/example/example.pug
        +mixin("Красивая собака")