include ../pug/mixins.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        each css in htmlWebpackPlugin.files.css
            link(rel="stylesheet", href=css)
        title Комната
    body.basic-text

        header
            +navbar_completed
        main.main.basic-text.room-details-main
            .room-details-main__gallery
                img(src="assets/img/image.jpg", alt="")
                img(src="assets/img/image2.jpg", alt="")
                img(src="assets/img/image3.jpg", alt="")
            .container.room-details-main__container
                .room-details-main__info-container
                    .room-details-main__room-info.mb-30
                        .item-title.mb-20 Сведения о номере
                        +text-with-icon('insert_emoticon', 'mb-20')
                            strong Комфорт
                            br
                            span Шумопоглощающие стены
                        +text-with-icon('location_city', 'mb-20')
                            strong Удобство
                            br
                            span Окно в каждой из спален
                        +text-with-icon('whatshot')
                            strong Уют
                            br
                            span Номер оснащён камином
                    .room-details-main__impressions.mb-30
                        .item-title.mb-20 Впечатления от номера
                        +pie(0,10,12,30)
                    .room-details-main__reviews.mb-30
                        .flex.flex__justify-content_space-between.flex__align-items_center.flex__align-items-md_flex-end.flex__direction_column.flex__direction-md_row.mb-20 
                            .item-title Отзывы посетителей номера
                            small.caption-text.mt-10.mt-md-0 2 отзыва
                        +testimonial('assets/img/testimonial.jpg', 12, 'Мурад Сарафанов', '5 дней назад', 'mb-20')
                            |Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                        +testimonial('assets/img/testimonial.jpg', 2, 'Патрисия Стёклышкова', 'Неделю назад')
                            |Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
                    .room-details-main__rules.mb-30
                        .item-title.mb-20 Правила
                        +bullet-list('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
                    .room-details-main__cancel
                        .item-title.mb-20 Отмена
                        div Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                .room-details-main__calculator.mb-50
                    +form-card('', 'POST')
                        .form-card__title
                            +room-number('888', 'люкс')
                            +faded-text('9 990₽', 'в сутки')
                        .mb-20
                            +date-dropdown_filter-double('ДД.ММ.ГГГГ', 'filter-double', 'bottom center')
                                .w-100.w-50-xs.pr-xs-10.pr-0.mb-20.mb-xs-0.d-inline-block
                                    +form-group('прибытие')
                                        +date-dropdown_no-datepicker('ДД.ММ.ГГГГ', 'arival', '#filter-double', 1)
                                .w-100.w-50-xs.pl-xs-10.pl-0.d-inline-block
                                    +form-group('выезд')
                                        +date-dropdown_no-datepicker('ДД.ММ.ГГГГ', 'departure', '#filter-double', 2)
                        +form-group('гости', 'mb-20 with-counter-dropdown')
                            +counter-dropdown('Сколько гостей', '${firstAndSecondCounter} [гость;гостя;гостей], ${lastCounter} [младенец;младенца;младенцев]', '0')
                                +counter-dropdown__row('взрослые', 'guests-grownup', '0', '12', '0')
                                +counter-dropdown__row('дети',  'guests-children', '0', '12', '0')
                                +counter-dropdown__row('младенцы', 'guest-baby', '0', '12', '0')
                        +form-card__checkout-item('9 990₽ х 4 суток', '39 960₽')
                        +form-card__checkout-item('Сбор за услуги: скидка 2 179₽', '0₽', 'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
                        +form-card__checkout-item('Сбор за дополнительные услуги', '300₽', 'Контент тултипа!')
                        +form-card__checkout-total('Итого', '38 081₽')
                        +button_block('забронировать', 'submit', 'arrow_forward')
        footer
            +prefooter_completed

            +footer_completed
        
        each js in htmlWebpackPlugin.files.js
            script(src=js)