//include ../blocks/mixin/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI-kit
    body.body
        //- let text = "UI-KIT"
        //- let i = 0 
        //- for(i = 0; i < 3; i++)
            .wrapper
                include ../blocks/example/example.pug
        //while i <= 5
            .wrapper
                if text == "UI-KIT"
                    +mixin(text)
                    div #{i++}
                else
                    +mixin("ТЕКСТ НЕПРАВИЛЬНЫЙ")
                    div #{i++}
        button.button.button_block Подобрать номер
            span.button__arrow
                i.material-icons arrow_forward