@import '../../less/mixins.less';

.dropdown{
    position: relative;

    box-sizing: border-box;
    display: inline-block;
    overflow:hidden;

    height: 44px;
    border-radius: 4px;
    border: 1px solid @dark-shade25;
    background: white;

    .transition(all, .3s);
}