@import '../../less/import.less';

.dropdown{
    position: relative;

    box-sizing: border-box;
    display: block;
    overflow: hidden;

    height: 44px;
    border-radius: 4px;
    border: 1px solid @dark-shade25;
    background: white;

    .transition(height, border-color);
}