@import '../../../less/import.less';

.form-card__checkout-total{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    line-height: 24px;
    margin: 20px 0;

    color: @dark-shade;

}