@import '../../../less/mixins.less';

.dropdown.dropdown_collapsed{
    border-color: @dark-shade50;
    .dropdown__expand-icon{
        transform: rotate(-180deg);
    }
    .dropdown__list{
        border-top-color: @dark-shade50;
    }
}