mixin form-card(action, method)
    form(action=action, method=method).form-card
        if block
            block
        else
            p Нет контента!

include ./__title/form-card__title.pug

include ./__footer/form-card__footer.pug

include ./__checkout-item/form-card__checkout-item.pug

include ./__checkout-total/form-card__checkout-total.pug