@import '../../less/import.less';

.form-card{
    position: relative;
    display: block;

    width: 380px;
    box-sizing: border-box;
    padding: 40px 30px 30px 30px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
@media(max-width: @md){
    .form-card{
        width: 100%;
    }
}
@media(max-width: @xs){
    .form-card{
        box-shadow: none;
        border: none;
        padding: 0;
    }
}