mixin logo
    a(href='/').logo
        img(src="assets/img/logo.png", alt="logo", srcset="")

mixin logo_secondary
    .logo.logo_secondary
        img(src="assets/img/logo-2.png", alt="logo", srcset="")