@import '../../../less/import.less';

.text-with-icon__icon{

    display: inline-block;

    .material-icons;
    width: 48px;
    height: 48px;

    font-size: 48px;
    line-height: 100%;

    .gradient-color(@primary-gradient);

}