@import '../../../less/mixins.less';

.button__icon{
    position: absolute;
    top:0;
    right: 0;

    display: inline-block;

    .material-icons;

    width: 44px;
    height: 44px;
    
    text-align: center;
    color: white;
    line-height: 44px;
}