@import '../../../less/mixins.less';

.button__icon{
    position: absolute;
    top:0;
    right: 0;

    display: inline-block;
    
    text-align: center;
    padding: 10px;

    .material-icons;
}