@import '../../less/import.less';

.text-with-icon{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    width: 280px;

    padding-bottom: 17px;

    &:not(:last-of-type){
        border-bottom: 1px solid fade(@dark-shade, 10%);
    }
}
