@import '../../less/import.less';

.text-with-icon{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-top:20px;

    width: 280px;

    &:not(:last-of-type){
        border-bottom: 1px solid fade(@dark-shade, 10%);
        padding-bottom:20px;
    }
}
