mixin text-with-icon(icon, classModifier)
    .text-with-icon(class=classModifier)
        if icon
            .text-with-icon__icon= icon
        else
            .text-with-icon__icon error
            |no icon!
        .text-with-icon__text.basic-text
            if block
                block
            else
                p Нет контента!