@import '../../less/import.less';

.room-card{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px fade(@dark-shade, 5%);
    border-radius: 4px;
    height: 257px;
    overflow: hidden;
}