@import '../../../less/import.less';

.prefooter__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:first-of-type, &:last-of-type{
        width: 260px;
    } 
    & > *:not(:last-child){
        margin-bottom: 20px;
    }
}

@media(max-width: @lg){
    .prefooter__column{
        margin-bottom: 30px;
        .logo{
            width: 100%;
        }
    }
}