@import '../../../less/import.less';

.prefooter__column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &:first-of-type{
        width: 260px;
        align-items: flex-start;
    } 
    & > *:not(:last-child){
        margin-bottom: 20px;
    }
}

@media(max-width: @lg){
    .prefooter__column{
        margin-bottom: 30px;
        .logo{
            width: 100%;
        }
    }
}