.prefooter__content.prefooter__content_centered{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 568px;

    & > *:not(:last-child){
        margin-bottom: 20px;
    } 
}