@import '../../../less/import.less';

.authorization-wrapper__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 702px;

    padding-top: 30px;
    padding-bottom: 30px;
}

@media(max-width: @lg){
    .authorization-wrapper__container{
        min-height: 0;
    }
}

@media(max-width: @xs){
    .authorization-wrapper__container{
        padding-top: 0;
        padding-bottom: 0;
    }
}