@import '../../../less/import.less';

.range-slider__value{
    display: block;
    margin-bottom: 20px;

    text-align: right;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: @dark-shade50;
}