@import '../../../less/import.less';

.counter-dropdown__expand-icon{
    position: absolute;
    top:0;
    right: 0;

    display: inline-block;

    width: 44px;
    height: 44px;

    .transition(transform);

    &::before{
        content:'expand_more';
        display: block;
        -webkit-user-select: none;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';

        width: 44px;
        height: 44px;

        color: @dark-shade75;
        text-align: center;
        line-height: 44px;

    }

}