@import '../../../less/import.less';

.navbar__icon{
    display: block;
    font-size: 30px !important;
    margin-right: 12px;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    background: none;
    .transition(color);
}