@import '../../../less/mixins.less';

.counter__input{
    appearance: none!important;
    border: none; 
    outline: none;
    padding: 0;
    background: none;

    .cta-text;

    width: 32px;
    height: 30px;

    text-align: center;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    
}