@import '../../../less/mixins.less';

.checkbox-list__list{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .checkbox{

        margin-bottom: 10px;
    
    }

}