mixin like-button(count, liked, classModifier)
    if liked == 'liked'
        button.like-button.like-button_liked(class=classModifier)
            if count
                span.like-button__counter= count
            else
                span.like-button__counter 0
    else
        button.like-button(class=classModifier)
            if count
                span.like-button__counter= count
            else
                span.like-button__counter 0

