@import '../../../less/import.less';

.bullet-list__item{
    position: relative;

    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 24px;
    &::before{
        content:'';

        position: absolute;
        top:7px;
        left: 0;

        display: inline-block;

        width: 10px;
        height: 10px;

        background-color: @dark-shade25;
        border-radius: 50%;
    }
}