@import '../../../less/import.less';

.bullet-list__item{
    margin-bottom: 10px;
    &::before{
        content:'';

        display: inline-block;

        width: 10px;
        height: 10px;
        margin-right: 10px;

        background-color: @dark-shade25;
        border-radius: 50%;
    }
}