@import '../../../less/mixins.less';

.dropdown__list{
    .cta-text;

    padding: 7px 7px 8px 15px;
    border-top: 1px solid transparent;

    .transition(border-color);
}

.dropdown.dropdown_collapsed .dropdown__list{
    border-top-color: @dark-shade50;
}