mixin date-dropdown(placeholder, id, classModifier)
    .date-dropdown(class=classModifier)
        input(type="text", name=id, placeholder=placeholder, id=id, readonly).date-dropdown__input.basic-text
        .date-dropdown__expand-icon

include ./_filter/date-dropdown_filter.pug