@import '../../../less/import.less';

.counter-dropdown__list{
    line-height: 15px;  
    color: @dark-shade;

    padding: 7px 7px 8px 15px;
    border-top: 1px solid transparent;

    .transition(border-color);
}